In [ ]:
import pandas as pd
import numpy as np

In [ ]:
coffee = pd.read_csv('./warmup-data/coffee.csv')

In [ ]:
results = pd.read_parquet('./data/results.parquet')
bios = pd.read_csv('./data/bios.csv')

In [ ]:
olympics_data = pd.read_excel('./data/olympics-data.xlsx', sheet_name="results")

In [ ]:
bios.to_excel

In [ ]:
coffee

In [ ]:
coffee.sample(10, random_state=42)

In [ ]:
coffee.loc[[0,1,3]]

In [ ]:
coffee.iloc[0:5, [1,2]]

In [ ]:
coffee.loc[1, "Units Sold"] = 30

In [ ]:
coffee

In [ ]:
coffee.Day

In [ ]:
coffee.sort_values(['Units Sold', 'Coffee Type'], ascending=[0,1])

In [ ]:
bios.tail()

In [ ]:
bios.info()

In [ ]:
bios.loc[bios["height_cm"] > 215, ['name', 'height_cm']]

In [ ]:
coffee

In [ ]:
coffee["new_price"] = np.where(coffee["Coffee Type"] == "Espresso", 3.99, 5.99)

In [ ]:
coffee

In [ ]:
#coffee.drop(columns=['price'], inplace = True)
coffee

In [ ]:
coffee.drop(columns = ['price'])

In [ ]:
bios

In [ ]:
bios['height_category'] = bios['height_cm'].apply(lambda x: 'short' if x < 165 else ('avarage' if x < 175 else 'tall'))

In [ ]:
nocs = pd.read_csv('./data/noc_regions.csv')

In [ ]:
nocs

In [ ]:
bios_new = pd.merge(bios, nocs, left_on = 'born_country', right_on = 'NOC', how = 'inner')

In [ ]:
bios_new

In [ ]:
bios_new.rename(columns = {'region': 'born_country_full',}, inplace = True)

In [ ]:
bios_new

In [ ]:
usa = bios[bios['born_country'] == 'USA'].copy()
gbr = bios[bios['born_country'] == 'GBR'].copy()
new_df = pd.concat([usa,gbr])

In [ ]:
new_df

In [ ]:
results

In [ ]:
combined_df = pd.merge(bios, results, on = 'athlete_id', how = 'right')

In [ ]:
combined_df

In [ ]:
coffee = pd.read_csv('./warmup-data/coffee.csv')
coffee

In [ ]:
coffee

In [ ]:
coffee.isna().sum()

In [ ]:
coffee['price'] = np.where(coffee['Coffee Type'] == 'Espresso', 3.99, 5.99)

In [ ]:
coffee

In [ ]:
coffee['revenue'] = coffee['Units Sold'] * coffee['price']
coffee

In [ ]:
coffee.loc[[0, 1], 'Units Sold'] = np.nan

In [ ]:
coffee.isna().sum()

In [ ]:
bios

In [ ]:
bios['born_city'].value_counts()

In [ ]:
bios[bios['born_country'] == 'USA']['born_region'].value_counts()

In [37]:
coffee = pd.read_csv('./warmup-data/coffee.csv')
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [36]:
coffee['Units Sold'].interpolate()

0     25
1     15
2     30
3     20
4     35
5     25
6     40
7     30
8     45
9     35
10    45
11    35
12    45
13    35
Name: Units Sold, dtype: int64

In [40]:
coffee.groupby(['Coffee Type'])['Units Sold'].sum()

Coffee Type
Espresso    265
Latte       195
Name: Units Sold, dtype: int64

In [43]:
coffee['price'] = np.where(coffee['Coffee Type'] == 'Espresso', 3.99, 5.99)

In [44]:
coffee

          Day Coffee Type  Units Sold  cumulative  price
0      Monday    Espresso          25          25   3.99
1      Monday       Latte          15          40   5.99
2     Tuesday    Espresso          30          70   3.99
3     Tuesday       Latte          20          90   5.99
4   Wednesday    Espresso          35         125   3.99
5   Wednesday       Latte          25         150   5.99
6    Thursday    Espresso          40         190   3.99
7    Thursday       Latte          30         220   5.99
8      Friday    Espresso          45         265   3.99
9      Friday       Latte          35         300   5.99
10   Saturday    Espresso          45         345   3.99
11   Saturday       Latte          35         380   5.99
12     Sunday    Espresso          45         425   3.99
13     Sunday       Latte          35         460   5.99

In [45]:
coffee['revenue'] = coffee['Units Sold'] * coffee['price']

In [46]:
coffee

          Day Coffee Type  Units Sold  cumulative  price  revenue
0      Monday    Espresso          25          25   3.99    99.75
1      Monday       Latte          15          40   5.99    89.85
2     Tuesday    Espresso          30          70   3.99   119.70
3     Tuesday       Latte          20          90   5.99   119.80
4   Wednesday    Espresso          35         125   3.99   139.65
5   Wednesday       Latte          25         150   5.99   149.75
6    Thursday    Espresso          40         190   3.99   159.60
7    Thursday       Latte          30         220   5.99   179.70
8      Friday    Espresso          45         265   3.99   179.55
9      Friday       Latte          35         300   5.99   209.65
10   Saturday    Espresso          45         345   3.99   179.55
11   Saturday       Latte          35         380   5.99   209.65
12     Sunday    Espresso          45         425   3.99   179.55
13     Sunday       Latte          35         460   5.99   209.65

In [50]:
coffee['cumulative_revenue'] = coffee['revenue'].cumsum()
coffee

,Day,Coffee Type,Units Sold,cumulative,price,revenue,cumulative_revenue
0,Monday,Espresso,25,99.75,3.99,99.75,99.75
1,Monday,Latte,15,189.60,5.99,89.85,189.60
2,Tuesday,Espresso,30,309.30,3.99,119.70,309.30
3,Tuesday,Latte,20,429.10,5.99,119.80,429.10
4,Wednesday,Espresso,35,568.75,3.99,139.65,568.75
5,Wednesday,Latte,25,718.50,5.99,149.75,718.50
6,Thursday,Espresso,40,878.10,3.99,159.60,878.10
7,Thursday,Latte,30,1057.80,5.99,179.70,1057.80
8,Friday,Espresso,45,1237.35,3.99,179.55,1237.35
9,Friday,Latte,35,1447.00,5.99,209.65,1447.00
10,Saturday,Espresso,45,1626.55,3.99,179.55,1626.55
11,Saturday,Latte,35,1836.20,5.99,209.65,1836.20
12,Sunday,Espresso,45,2015.75,3.99,179.55,2015.75
13,Sunday,Latte,35,2225.40,5.99,209.65,2225.40

In [51]:
coffee.drop(columns = ['cumulative'], inplace = True)

In [52]:
coffee

          Day Coffee Type  Units Sold  price  revenue  cumulative_revenue
0      Monday    Espresso          25   3.99    99.75               99.75
1      Monday       Latte          15   5.99    89.85              189.60
2     Tuesday    Espresso          30   3.99   119.70              309.30
3     Tuesday       Latte          20   5.99   119.80              429.10
4   Wednesday    Espresso          35   3.99   139.65              568.75
5   Wednesday       Latte          25   5.99   149.75              718.50
6    Thursday    Espresso          40   3.99   159.60              878.10
7    Thursday       Latte          30   5.99   179.70             1057.80
8      Friday    Espresso          45   3.99   179.55             1237.35
9      Friday       Latte          35   5.99   209.65             1447.00
10   Saturday    Espresso          45   3.99   179.55             1626.55
11   Saturday       Latte          35   5.99   209.65             1836.20
12     Sunday    Espresso          45   3.99   179.55             2015.75
13     Sunday       Latte          35   5.99   209.65             2225.40